{% extends 'base.html' %}
{% block content %}
<h2 class="text-primary">Resumen del Proyecto</h2>
<p>Este sistema detecta imágenes generadas por inteligencia artificial utilizando una red neuronal convolucional (CNN) con MobileNetV2. El objetivo es mitigar la desinformación visual y el uso malicioso de deepfakes.</p>

<h3 class="mt-4 text-secondary">Metodología</h3>
<ul>
    <li>Recopilación de datos confiables (dataset Kamblee)</li>
    <li>Preprocesamiento y aumento de datos</li>
    <li>Entrenamiento con Transfer Learning (MobileNetV2)</li>
    <li>Evaluación con métricas de precisión y pérdida</li>
    <li>Integración en una aplicación web con Flask</li>
</ul>
{% endblock %}
