{% extends 'base.html' %}
{% block content %}
<h2 class="text-danger">Planteamiento del Problema</h2>
<p>El uso de imágenes generadas por IA ha crecido exponencialmente, especialmente en contenido desinformativo y de tipo deepfake, lo que representa un riesgo para la veracidad de la información, la privacidad y la integridad digital, especialmente de mujeres.</p>

<h3 class="text-secondary mt-4">Justificación</h3>
<p>Este sistema busca enfrentar la problemática ofreciendo una herramienta que permita a usuarios identificar imágenes alteradas o falsas mediante un modelo de aprendizaje profundo adaptado a esta tarea.</p>
{% endblock %}
